<html>
  <head>
  <title>Hei Comiq</title>
</head>
<body>
  <h1>Päivitä minua nostaaksesi 3 kättä ja katso konsoliin.</h1>
  <p>Jos kortit loppuvat (käsi undefined tai vajaa), on ohjelma ajettava uudestaan.</p>
</body>
</html>
